<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>give me the code</title>
    <%- include('../partials/head'); %>
    
    <style>
        .carousel-item > div{
            color: #fff;
            text-align: center;
            line-height: 400px;
        }

        nav{
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
    <%- include('../partials/nav'); %>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-block w-100 bg-dark" style="width: 800px; height: 400px;">
                    First slide
                </div>
                <!-- <img class="d-block w-100" src=".../800x400?auto=yes&bg=777&fg=555&text=First slide" alt="First slide"> -->
            </div>
            <div class="carousel-item">
                <div class="d-block w-100 bg-dark" style="width: 800px; height: 400px;">
                    Second slide
                </div>
                <!-- <img class="d-block w-100" src=".../800x400?auto=yes&bg=666&fg=444&text=Second slide" alt="Second slide"> -->
            </div>
            <div class="carousel-item">
                <div class="d-block w-100 bg-dark" style="width: 800px; height: 400px;">
                    Third slide
                </div>
                <!-- <img class="d-block w-100" src=".../800x400?auto=yes&bg=555&fg=333&text=Third slide" alt="Third slide"> -->
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</body>
</html>