<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>사용자</title>
    <%- include('../partials/head'); %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="content">
        <%- include('../partials/nav'); %>

        <div class="container mb-3">
            <p></p>
        </div>
        
    </div>
</body>
</html>